.container {
    height: 10vh; 
    display: flex; 
    justify-content: center;
}

.formGroup {
    width: 50%; 
    margin-left: 25%;
}

@media only screen and (max-width: 790px) {
    .formGroup{
        width: 100%;
        margin: 0;
    }
}